<div class='fullscreen-container'>
    <form id='form' class='form center-container' novalidate>
        <h3>{{header}}</h3>
        {{#each inputs}}
            {{#ifEquals this.type 'checkbox_list'}}
                <div class="form_checkbox_list_wrapper">
                    {{#each this.items}}
                    <div class="form_checkbox">
                      <label for="">
                        <input type="checkbox" name="{{../this.list_name}}" id="{{../this.list_name}}_{{this.id}}" value="{{../this.list_name}}_{{this.id}}"/>
                        {{this.name}} {{this.surname}} @{{this.username}}
                      </label>
                    </div>
                    {{/each}}
                </div>
            {{/ifEquals}}
            
            {{#ifNotEquals this.type 'checkbox_list'}}
                <label Ñlass="form_label" for='{{this.id}}'>{{placeholder}}</label>
                <input
                    class='form-input'
                    type='{{this.type}}'
                    id='{{this.id}}'
                    placeholder='{{placeholder}}'
                    {{#if autocomplete}}autocomplete='{{autocomplete}}'{{/if}}
                    {{#if required}} required {{/if}}
                />
            {{/ifNotEquals}}
        {{/each}}

        <button
            class='form-button'
            type='submit'
            id='submitButton'
        >{{submitButtonText}}</button>
        <button
            class='form-button inline_button'
            id='additionButton'
        >{{additionButtonText}}</button>
        <p class='form-error-message' id='error-message'></p>
    </form>
</div>