<div class="message {{message_owner}}" id="message id {{message_id}}">
    <div class="author">
        <strong>{{username}}</strong>
    </div>
    <div class="message_data">
        {{message_text}}
        <text class="time">{{sent_at}}</text>
    </div>
</div>