<div class='message {{message_owner}}' id='message_id_{{message_id}}'>
    <div class='author'>
        <strong>{{username}}</strong>
    </div>

    <div class='message_data'>
        {{#if file}}
            <a href='{{file.path}}' download>{{file.original_name}}</a>
        {{/if}}

        <div class='message_text_wrapper'>
            <span class='message_text'>{{message_text}}</span>
            <input
                type='text'
                class='edit_message_input'
                style='display: none;'
            />
        </div>
    </div>

    <text class='time'>{{sent_at}}</text>
    {{#if edited}}
        <text class='time'>изменено</text>
    {{/if}}
    <div id='ContextMenu' style='display: none;'>
        <button class='delete-button' id='delete-message-button_{{message_id}}'>
            Удалить
        </button>
        <button class='edit-button' id='edit-message-button_{{message_id}}'>
            Изменить
        </button>
    </div>
    <div class='overlay' style='display: none;'></div>
</div>